<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="Style/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="Style/myStyle.css" media="all"/>
	<link href="Style/bootstrap-switch.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>		
	<script type="text/javascript" src="js/myScript.js"></script>
	<script type="text/javascript" src="js/bootstrap-switch.js"></script>

	<title>Test technique StadLine</title>
</head>
<body ng-controller="appCtrl">
	<div class="row container_100">
		<h1 class="title_main">Issue #{{issueId}}</h1>
	</div>
	<div class="col-md-12 container_200">
		<div class="col-md-3 container_210">
			<div class="container_2110">
			<ul id="conversation">
					<li ng-repeat="author in authors">
						<div class="container_211X0">
							<div class="authorImgFilter">
								<input type="checkbox" name="my-checkbox" checked ng-model="author.active">
								<img src={{author.img}} class="img-rounded">
								<span>{{author.authorName}}</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9 container_220">
			<h4 class="title_primary">Conversation with <span ng-bind="getUsers()"></span></h4>
			<div class="container_2210">
				<ul id="conversation">
					<li ng-repeat="message in conversation">
						<div class="message" ng-class="{{message.authorId}} == 1 ? 'left col-md-8' : 'right col-md-offset-4 col-md-8'" ng-show="isAuthorActive(message.authorId)">
							<div class="authorImgMessage">
								<img src={{message.img}} class="img-rounded">
							</div>
							<div class="message_content">
								<span>{{message.text}}</span>
							</div>
							<span class="signature">par </span><span class="signature" ng-bind="getAuthorName({{message.authorId}})"></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>